@media(max-width:1190px){
  .container{
    max-width: 1100px;
  }

  /* フォントサイズ  (1190px)*/

  .text-10{
    font-size: 10px;
  }
  .text-12{
    font-size: 12px;
  }
  .text-14{
    font-size: 12px;
  }
  .text-16{
    font-size: 14px;
  }
  .text-18{
    font-size: 16px;
  }
  .text-20{
    font-size: 16px;
  }
  .text-21{
    font-size: 18px;
  }
  .text-24{
    font-size: 24px;
  }
  .text-28{
    font-size: 24px;
  }

  /* ヘッダー  (1190px) */

  .header-right a{
    width: 261px;
    height: 40px;
    line-height: 30px;
  }

  /* コンテンツ1  (1190px) */

  /* コンテンツ2  (1190px) */

  .content-2 p{
    font-size: 16px;
  }
  .content-2 span{
    font-size: 14.4px;
  }
  .btn-content2{
    font-size: 18px;
    margin: 10px 20px 0 20px;
    padding: 15px 0;
  }
  .content-2 ul{
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 0;
  }

  /* コンテンツ3  (1190px) */

  .content-3 h1{
    font-size: 24px;
  }
  .content3-message{
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
  }
  .about{
    top: 108px;
  }

  /* コンテンツ4  (1190px) */

  .content-4{
    background-color: #FEF5E0;
    padding-top: 80px;
    text-align: center;
    height: 647px;
  }
  .content-4 h1{
    font-size: 24px;
  }
  .content4-message{
    font-size: 16px;
  }
  .icon-wrapper > p{
    font-size: 16px;
  }

  /* コンテンツ5  (1190px) */

  .content5-top h1{
    font-size: 24px;
  }
  .content5-top p{
    font-size: 16px;
    letter-spacing: 1px;
  }  
  .content5-wrapper{
    display: flex;
    flex-direction: column;
  }
  .content5-box{
    margin: 0 auto 20px;
    width: 40%;
  }
  .content5-box h2{
    font-size: 14px;
    letter-spacing: 2px;
  }
  .content5-box p{
    font-size: 12px;
  }  
  .content5-box p:last-child{
    font-size: 14px;
  }
  .content5-bottom p{
    font-size: 16px;
  }

  /* コンテンツ6  (1190px) */

  .content-6 h1{
    font-size: 24px;
  }
  .content-6 span{
    font-size: 14px;
  }
  .content-6 h2{
    font-size: 16px;
  }
  .content-6 p{
    font-size: 14px;
    margin-top: 60px;
  }

  /* コンテンツ7  (1190px) */

  .content-7{
    padding-top: 30px;
  }
  .content7-top h1{
    font-size: 24px;
  }
  .content7-top h2{
    font-size: 16px;
    padding-bottom: 20px;
  }
  .content7-wrapper{
    max-width: 1020px;
  }
  .content7-box{
    text-align: center;
  }
  .content7-box img{
    width: 300px;
    height: 180px;
  }
  .content7-box h1{
    font-size: 16px;
  }
  .content7-box p{
    font-size: 14px;
    width: 75%;
    margin: 0 auto;
  }
  .content7-bottom{
    max-width: 1000px;
    margin: 55px 50px;
  }
  .content7-bottom h1{
    font-size: 24px;
  }
  .content7-bottom h2{
    font-size: 16px;
  }
  .content7-bottom p{
    font-size: 14px;
  }
  .content7-end{
    font-size: 12px;
  }

  /* コンテンツ8  (1190px) */

  .content8-top h1{
    font-size: 24px;
  }
  .content8-top p{
    font-size: 14px;
  }
  .content8-wrapper{
    font-size: 14px;
  }

  /* コンテンツ9  (1190px) */

  .content9-top h1{
    font-size: 18px;
  }
  .q-a{
    font-size: 20px;
  }
  .content9-top{
    padding: 0 30px;
  }

  /* コンテンツ10  (1190px) */

  .content-10 h1{
    font-size: 24px;
  }
  .content-10 h2{
    font-size: 14px;
  }
  .content-10 h3{
    font-size: 12px;
  }
  .content10-wrapper{
    margin-left: 0;
  }
  .content10-wrapper p{
    font-size: 18px;
  }
  /* コンテンツ11  (1190px) */
  .content-11 h1{
    font-size: 24px;
  }
  .content-11 p{
    font-size: 14px;
  }
  .content11-wrapper{
    max-width: 598px;
  }
  .list-group li:first-child{
    font-size: 16px;
    height: 55px;
  }
  .list-group li{
    font-size: 14px;
    padding: 11px;
  }
  .content11-end h1{
    font-size: 16px;
  }

  /* コンテンツ13 (1190px) */

  .content-13{
    margin-top: 20px;
  }
  .content13-wrapper{
    padding: 50px;
    padding-top: 60px;
  }
  
/* コンテンツ14 (1190px) */

  .content14-box p{
    font-size: 14px;
  }
  .content14-wrapper{
    margin-left: 30px;
    margin-right: 30px;
  }
  .content14-wrapper::before{
    font-size: 24px;
    max-width: 400px;
    height: 76px;
    top: -40px;
  }
    
  /* コンテンツ15 (1190px) */

  .content15-top h2{
    line-height: 25px;
  }
  .content15-bottom h2{
    line-height: 25px;
  }
        
  /* コンテンツ15 (1190px) */

  .content16-wrapper{
    max-width: 1040px;
    font-size: 14px;
  }
  .content-16 img{
    width: 100%;
  }
        
  /* フォーム (1190px) */

  #form form{
    padding: 0 10%;
  }
        
  /* コンテンツ15 (1190px) */

  .content17-wrapper{
    width: 90%;
  }
  

  
}


@media(max-width:768px){
  .container{
    max-width: 768px;
  }

  /* フォントサイズ  (768px)*/

  .text-10{
    font-size: 10px;
  }
  .text-12{
    font-size: 12px;
  }
  .text-14{
    font-size: 12px;
  }
  .text-16{
    font-size: 12px;
  }
  .text-18{
    font-size: 15px;
  }
  .text-20{
    font-size: 15px;
  }
  .text-21{
    font-size: 15px;
  }
  .text-24{
    font-size: 24px;
  }
  .text-28{
    font-size: 18px;
  }

  /* ヘッダー  (768px) */

  .header-right a{
    display: none;
  }
  .header-rightres{
    display: block;
  }
  .damy{
    height: 62px;
  }
  .header-left{
    display: none;
  }
  .header-leftres{
    display: block;
  }

  /* コンテンツ1  (768px) */

  .content-1{
    height: 311px;
  }
  .content-1 h1{
    padding-top: 20px;
    line-height: initial;
  }

  /* コンテンツ2  (768px) */
 
  .content-2 p{
    padding-top: 15px;
  }
  .content2-message{
    display: none;
  }
  .content2-messageres{
    display: block;
  }
  .content-2 ul{
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .btn-content2{
    font-size: 20px;
    margin: 30px 30px;
    padding: 15px 0;
  }
  .content-2 li:last-child{
    padding-bottom: 10px;
  }
  .social{
    margin-bottom: 20px;
  }

  /* コンテンツ3  (768px) */

  .content3-message{
    display: none;
  }
  .content3-messageres{
    display: block;
  }
  .content-3{
    height: 658px;
    background-position: center bottom;
    background-size: contain;
    padding-top: 20px;
  }
  .content-3 h1{
    max-width: 768px;
    height: 120px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 2px;
    padding-top: 20px;
    margin: 0 20px;
    margin-bottom: 10px;
  }
  .content-3 h1::before{
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .content-3 h1::after{
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .about{
    top: 45px;
  }
  .about p{
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 60px;
  }

  /* コンテンツ4  (768px) */

  .content-4 h1{
    height: 130px;
    font-size: 18px;
    line-height: 40px;
    margin: 0 20px;
  }
  .content4-message{
    display: none;
  }
  .content4-messageres{
    display: block;
  }
  .icon-wrapper{
  display: none;
  }
  .icon-wrapperres{
    display: block;
  }
  .content4-icon p{
    font-size: 10px;
  }
  
  /* コンテンツ5  (768px) */

  .content5-message{
    display: none;
  }
  .content5-messageres{
    display: block;
  }
  .content5-top{
    background-image: url("img/aboutsecondbgsp.jpg");
  }
  .content5-top h1{
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .content5-top p{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }  
  .content5-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .content5-box{
    width: 90%;
    height: 106px;
    padding: 15px 60px;
  }
  .content5-box h2{
    font-size: 12px;
    letter-spacing: 2px;
  }
  .content5-box p{
    font-size: 12px;
    padding-top: 15px;
  }  
  .content5-box p:last-child{
    font-size: 12px;
  }  
  .content5-bottom{
    padding: 24px;
  }
  .content5-bottom p{
    font-size: 12px;
    margin: 0;
  }

  /* コンテンツ6  (768px) */

  .content-6{
    padding-top: 50px;
    padding-bottom: 35px;
  }
  .content6-message{
    display: none;
  }
  .content6-messageres{
    display: block;
  }
  .content-6 h1{
    font-size: 18px;
  }
  .content-6 span{
    font-size: 12px;
  }
  .content-6 h2{
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
  }
  .row{
    margin: 0 auto;
  }
  .content6-image{
    padding: 0 12px;
    width: 25%;
  }
  .content-6 p{
    font-size: 12px;
    margin-top: 25px;
  }

  /* コンテンツ7  (768px) */

  .content7-message{
    display: none;
  }
  .content7-messageres{
    display: block;
  }
  .content-7{
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .content7-top{
    max-width: 710px;
    height: 125px;
  }
  .content7-top::before{
    width: 30px;
    height: 30px;
  }
  .content7-top::after{
    width: 30px;
    height: 30px;
  }
  .content7-top h1{
    font-size: 18px;
  }
  .content7-top h2{
    font-size: 15px;
    padding-bottom: 20px;
  }
  .content7-wrapper{
    max-width: 1020px;
    margin-top: 20px;
  }
  .content7-box{
    padding-top: 0;
  }
  .content7-box img{
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  .content7-box p{
    width: 90%;
    text-align: left;
    font-size: 12px;
  }
  .content7-bottom{
    margin: 10px 20px;
    padding: 10px;
  }
  .content7-bottom h1{
    font-size: 18px;
  }
  .content7-bottom h2{
    font-size: 15px;
    line-height: 25px;
  }
  .content7-bottom p{
    font-size: 10px;
    letter-spacing: 0
  }

  /* コンテンツ8  (768px) */

  .content-8{
    background-image: url("img/teacherbgsp.jpg");
  }
  .content8-message{
    display: none;
  }
    .content8-messageres{
    display: block;
  }
  .content8-top{
    padding-top: 70px;
  }
  .content8-top h1{
    font-size: 18px;
  }
  .content8-top p{
    font-size: 12px;
  }
  .content8-wrapper{
    font-size: 12px;
    max-width: 768px;
    height: 179px;
    padding: 40px 10px 0 10px;
  }
  .content8-wrapper p{
    margin-bottom: 10px;
  }
  .content-8 img{
    width: 120px;
    height: 120px;
  }
  
  /* コンテンツ9  (768px) */

  .content-9{
    padding: 20px 0;
  }
  .content-9::after{
    border-top: 15px solid #ebb94d;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -15px;
  }
  .content9-top h1{
    font-size: 14px;
    max-width: 669px;
    height: 100px;
  }
  .content9-top h1::before{
    width: 30px;
    height: 30px;
  }
  .content9-top h1::after{
    width: 30px;
    height: 30px;
  }
  .q-a{
    font-size: 12px;
    width: 60px;
    height: 60px;
  }
  
  /* コンテンツ10  (768px) */

  .content-10 h1{
    font-size: 18px;
  }
  .content-10 h2{
    font-size: 12px;
  }
  .content-10 h3{
    font-size: 12px;
  }
  .content10-wrapper{
    margin-top: 30px;
  }
  .content10-wrapper p{
    font-size: 18px;
    margin-top: 0;
  }

  /* コンテンツ11  (768px) */

  .content-11 h1{
    font-size: 18px;
  }
  .content-11 p{
    font-size: 12px;
  }
  .content11-wrapper{
    max-width: 100%;
  }
  .list-group li:first-child{
    font-size: 15px;
  }
  .list-group li{
    font-size: 12px;
  }
  .content11-end{
    padding: 20px 0;
    margin-top: 40px;
  }
  .content11-end h1{
    font-size: 15px;
    margin: 0;
  }

  /* コンテンツ11  (768px) */
  
  .content-12{
    display: none;
  }
  .content-12res{
    display: block;
  }

  /* コンテンツ13 (768x) */

  .content-13{
    background-image: url("img/bangkokbgsp.jpg");

    margin-top: 0;
  }
  .content13-wrapper{
    padding: 30px;
    padding-top: 45px;
  }
  .content13-wrapper h1{
    text-align: center;
  }
  
  /* コンテンツ14 (768px) */
  .content-14{
    padding-top: 30px;
  }
  .content-14 h1{
    margin-bottom: 40px;
  }
  .content14-box{
    display: none;
  }
  .content14-message{
    display: none;
  }
  .content14res-message{
    display: block;
  }
  .content14-wrapper{
    display: none;
  }
  .content14res-wrapper{
    border: 2px solid #FFF;
    padding: 50px 10px 30px 50px;
    position: relative;
    display: block;
    margin: 0 30px;
  }
  .content14res-wrapper::before{
    position: absolute;
    content:"iSaraは『実質０円』！更なる特典もあります。";
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    max-width: 230px;
    height: 57px;
    background-color: #F7C23C;
    z-index: 9;
    top: -30px;
    left: 35%;
    padding: 5px;
  }
  .content14-left h1{
    margin: 0;
  }
  .content-14 p{
    margin-bottom: 80px;
  }
  .content14-right p{
    margin: 0;
  }
      
  /* コンテンツ15 (768px) */

  .content-15{
    background-image: url("img/specialdetailsp.jpg");
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .content15-top h2{
    line-height: 25px;
  }
  .content15-bottom h2{
    line-height: 25px;
  }
  .content15-center h1{
    display: none;
  }
  .content15res-center h1::before{
    width: 30px;
    height: 30px;
  }
  .content15res-center h1::after{
    width: 30px;
    height: 30px;
  }
  .content15-message{
    display: none;
  }
  .content15-messageres{
    display: block;
  }
  .content15res-center h1{
    display: flex;
    max-width: 700px;
    height: 100px;
    margin: 0 30px;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .content-15 h2{
    font-size: 12px;
    line-height: 20px;
  }
      
  /* コンテンツ16 (768px) */

  .content-16{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .content16-message{
    display: none;
  }
  .content16-messageres{
    display: block;
    line-height: 30px;
  }
  .content-16 img{
    margin-top: 10px;
  }
  .content16-left{
    margin-top: 10px;
  }
            
  /* フォーム (1190px) */

  #form form{
    padding: 0 10px;
  }
  #form{
    padding: 50px 0;
  }
        
  /* コンテンツ16 (768px) */

  .content-17{
    padding-top: 50px;
    padding-bottom: 55px;
  }
  .content17-top h1{
    padding-bottom: 30px;
  }
  .content17-title{
    padding: 8px 10px;
  }
  .content17-wrapper{
    width: 95%;
  }
  .content17-title::after{
    top: 5px;
    font-size: 20px;
  }

          
  /* フッター (768px) */

  footer{
    padding-bottom: 5px;
  }
  
}



