/* 全体にかかるCSS */

*{
  box-sizing: border-box;
  outline: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
  padding: 0;
}
body{
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
}
/* フォントサイズ */
.text-10{
  font-size: 10px;
}
.text-12{
  font-size: 12px;
}
.text-14{
  font-size: 14px;
}
.text-16{
  font-size: 16px;
}
.text-18{
  font-size: 18px;
}
.text-20{
  font-size: 20px;
}
.text-21{
  font-size: 21px;
}
.text-24{
  font-size: 24px;
}
.text-28{
  font-size: 28px;
}


/* ヘッダー */

.header-wrapper{
  background-color: #fff;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* ヘッダーレフト */

.header-left{
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
  margin-top: 15px;
  position: relative;
}
.header-left img{
  display: block;
  width: 128px;
  height: 44px;
}
.header-left p{
  margin: 0;
  font-weight: 700;
  padding-left: 5px;
}
.header-leftres{
  display: none;
  margin: 5px 10px;
  font-weight: 700;
}
.header-leftres img{
  display: block;
  width: 85px;
  height: 30px;
}
.header-leftres p{
  margin: 0;
}

/* ヘッダーライト */

.header-right{
 margin-top: 15px;
 margin-bottom: 20px;
}
.btn-header{
  display: block;
  background-color: #DA6B64;
  width: 317px;
  height: 44px;
  text-align: center;
  line-height: 33px;
  border-radius: 30px;
  color: white;
  margin-right: 50px;
  text-decoration: none;
}
.btn-header:hover{
  background-color: #D84940;
  color: #fff;
}
.header-rightres{
  width: 76px;
  height: 61px;
  background-color: #da6b64;
  display: none;
}
.header-rightres img{
  display: block;
  width: 20px;
  height: 24px;
  margin: 10px auto 0 auto; 
}
.header-rightres p{
  text-align: center;
  color: white;
}
.damy{
  height: 75px;
}

/* メイン */

#page_top{
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  background: #ececec;
}
#page_top a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#page_top a::before{
  margin-top: 15px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f077';
  font-size: 30px;
  color: #000;
}

/* コンテンツ1 */

.content-1{
  background-image: url("img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.content-1 h1{
  text-align: center;
  font-weight: 700;
  padding-top: 90px;
  line-height: 50px;
}
.content-1 img{
  display: block;
  margin: 0 auto;
  width: 317px;
  height: 111px;
}
.content-1 p{
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
  line-height: 20px;
}

/* コンテンツ2 */

.content-2{
  background-color:#EBB94D;
}
.content-2 p{
  text-align: center;
  color: white;
  padding-top: 33px;
  font-weight: 700;
}
.content-2 span{
  display: inline-block;
  padding: 2px 4px;
  color: red;
  font-weight: 600;
  margin-top: 10px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.content-2 ul{
  list-style: none;
  text-align: center;
  margin-top: 70px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
}
.content-2 li{
  padding-bottom: 30px;
}
.content2-messageres{
  display: none;
}
.btn-content2{
  display: block;
  width: 92%;
  padding: 25px 0 ;
  background-color: #DA6B64;
  text-align: center;
  line-height: 44px;
  border-radius: 50px;
  color: white;
  font-size: 28px;
  font-weight: 700;
  margin:47px 30px 0 30px;
  text-decoration: none;
}
.btn-content2:hover{
  background-color: #D84940;
  color: #fff;
}
.icon-contents{
  display: flex;
  justify-content: center;
}
.social{
  color: #fff;
  font-size: 12px;
  padding: 2px;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 44px;
}
.twi{
  background-color:#1B95E0;
}
.good{
  background-color: #1877F2;
}
.share{
  background-color:#1877F2;
}

/* コンテンツ3 */

.content-3{
  background-image: url("img/introbottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 587px;
  padding-top: 40px;
}
.content-3 h1{
  max-width: 860px;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 2px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
}
.content-3 h1::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
  padding-left: 40px;
}
.content-3 h1::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
  padding-right: 40px;
}
.content3-message{
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 32px;
  margin-top: 20px;
}
.content3-message p{
  margin-bottom: 22px;
}
.content3-message span{
  border-bottom: 10px solid #ebb94d;
  font-weight: 900;
}
.content3-messageres{
  display: none;
}
.content3-messageres{
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  margin-top: 0px;
}
.content3-messageres p{
  margin-bottom: 28px;
}
.content3-messageres span{
  border-bottom: 10px solid #ebb94d;
  font-weight: 900;
}
.about{
  position: relative;
  width: 100%;
  top: 55px;
}
.about p{
  display: block;
  width: 80px;
  height: 80px;
  background-color: #EBB94D;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
}

/* コンテンツ4 */

.content-4{
  background-color: #FEF5E0;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;
}
.content-4 h1{
  max-width: 860px;
  height: 140px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
.content-4 h1::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
}
.content-4 h1::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
}
.content4-message{
  padding-top: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.content4-messageres{
  padding-top: 40px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: none;
}
.icon-wrapper{
  margin: 30px 20px;
  border: 2px solid #ebb94d;
  border-radius: 4px;
  max-width: 1170px;
  background-color: #fff;
  padding-bottom: 30px;
}
.icon-wrapperres{
  margin: 30px 20px;
  border: 2px solid #ebb94d;
  border-radius: 4px;
  max-width: 1170px;
  background-color: #fff;
  display: none;
}
.icon-wrapper > p{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 35px;
}
.icon-wrapperres > p{
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 10px;
  }
.content4-icon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}
.content4-icon p{
  font-size: 12px;
}
.content4-icon span{
  padding: 10px;
  letter-spacing: 2px;
}

/* コンテンツ5 */

.content5-top{
  background-image: url("img/aboutsecondbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.content5-top h1{
  padding-top: 60px;
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 700;
}
.content5-top p{
  padding-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
}  
.content5-top span{
  color: #EBB94D;
}
.content5-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding-bottom: 40px;
}
.content5-box{
  display: block;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 17px;
  width: 374px;
  height: 177px;
  padding: 30px;
}
.content5-box h2{
  background-color: #EBB94D;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 0;
  margin: 0;
}
.content5-box p{
  padding-top: 30px;
  margin: 0;
  color: #000;
  font-size: 14px;
}  
.content5-box p:last-child{
  font-size: 16px;
  padding-top: 0;
}
.content5-bottom{
  background-color: #016EA9;
  text-align: center;
  padding: 45px 0;
}
.content5-bottom p{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}
.content5-bottom span{
  color: #EBB94D;
}
.content5-messageres{
  display: none;
}

/* コンテンツ6 */

.content-6{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 55px;
}
.content-6 h1{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}
.content-6 span{
  font-size: 16px;
}
.content-6 h2{
  font-size: 20px;
  padding: 50px 0;
  letter-spacing: 2px;
}
.row{
  margin: 0 auto;
}
.content6-image{
  padding: 0 21px;
  width: 25%;
}
.content-6 p{
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  letter-spacing: 2px;
}
.content6-messageres{
  display: none;
}

/* コンテンツ7 */

.content-7{
  text-align: center;
  background-color: #FEF5E0;
  padding-top: 40px;
  padding-bottom: 55px;
}
.content7-top{
  max-width: 860px;
  height: 112px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
.content7-top::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
}
.content7-top::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
  width: 50px;
  height: 50px;
}
.content7-top h1{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}
.content7-top h2{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 12px;
} 
.content7-messageres{
  display: none;
}
.content7-wrapper{
  margin: 40px auto 0 auto;
  max-width: 1140px;
}
.content7-box{
  text-align: left;
  padding: 15px;
}
.content7-box img{
  display: block;
  margin: 0 auto;
  width: 359px;
  height: 180px;
}
.content7-box h1{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  padding: 15px 0;
  color: #EBB94D;
}
.content7-box p{
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}
.content7-bottom{
  background-color: #fff;
  max-width: 1170px;
  margin: 40px auto;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  padding: 40px 0;
}
.content7-bottom h1{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #EBB94D;
  margin-bottom: 20px;
}
.content7-bottom h2{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.content7-bottom p{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.content7-end{
  font-size: 14px;
  letter-spacing: 1px;
}

/* コンテンツ8 */

.content-8{
  background-image: url("img/teacherbg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
}
.content8-top{
  padding-top: 95px;
  color: #fff;
  letter-spacing: 2px;
}
.content8-center{
  max-width: 780px;
}
.content8-top h1{
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 40px;
}
.content8-top p{
  font-size: 16px;
  font-weight: 700;
}
.content8-wrapper{
  border: 3px solid #FFF;
  color: #fff;
  font-size: 16px;
  padding: 40px;
  margin: 0;
  letter-spacing: 1px;
}
.content8-wrapper p:last-child{
  text-align: left;
}

.content-8 img{
  position: relative;
  border-radius: 50%;
  bottom: -33px;
}
.content8-messageres{
  display: none;
}

/* コンテンツ9 */

.content-9{
  background-color: #EBB94D;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  position: relative;
}
.content-9::after{
  content: "";
  height: 0;
  width: 0;
  border-top: 25px solid #ebb94d;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}
.q-a{
  background-color: #fff;
  color: #EBB94D;
  width: 80px;
  height: 80px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.content9-top h1{
  max-width: 860px;
  height: 110px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 860px;
  height: 110px;
  position: relative;
  margin: 0 auto;
}
.content9-top h1::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 50px;
  height: 50px;
}
.content9-top h1::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  width: 50px;
  height: 50px;
}

/* コンテンツ10 */

.content-10{
  text-align: center;
  padding: 40px 0;
  letter-spacing: 1px;
}
.content-10 h1{
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 23px;
  margin: 0;
}
.content-10 h2{
  font-size: 16px;
  padding-bottom: 45px;
  font-weight: 700;
  margin: 0;
}
.content-10 h3{
  font-size: 14px;
}
.content10-wrapper{
  margin-top: 35px;
  margin-left: 160px;
  display: flex;
  flex-wrap: nowrap;
}
.content10-wrapper img{
  border: 2px solid #ebb94d;
}
.content10-wrapper p{
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  opacity: 0.7;
}
.content10-wrapper span{
  display: block;
  text-decoration: underline;
  font-style: italic;
  font-size: 15.3px;
}

/* コンテンツ11 */

.content-11{
  background-image: url("img/classbg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 65px;
}
.content-11 h1{
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 5px;
}
.content-11 p{
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
.content11-wrapper{
  max-width: 810px;
}
.list-group{
  border: 2px solid #016EA9;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.list-group li:first-child{
  background-color: #016ea9;
  height: 62px;
  font-size: 20px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-group li{
  border-style: dotted;
  padding: 16px 0;
}
.content11-end{
  background-color: #016ea9;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  margin-top: 80px;
}
.content11-end h1{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 35px;
}

/* コンテンツ12 */

.content-12{
  text-align: center;
  margin: 0 30px;
  padding-top: 65px;
}
.content-12 h1{
  margin-bottom: 60px;
}
.content12-box{
  background-color: #FEF5E0;
  padding: 10px 35px;
  border-radius: 10px;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-left{
  padding: 20px;
  width: 20%
}
.box-left h2{
  font-weight: 700;
  margin-top: 25px;
}
.box-right{
  width: 80%;
  text-align: left;
  margin-top: 30px;
}
.box-right h3{
  font-weight: 700;
  margin-bottom: 30px;
}
.content-12res{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  display: none;
}
.content-12res h1{
  font-weight: 700;
  margin-bottom: 45PX;
}
.content12res-box{
  background-color: #FEF5E0;
  padding: 10px 15px;
  margin: 0 15px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.content12-title{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.content12-title img{
  width: 35px;
  height: 35px;
}
.content12-title h2{
  font-weight: 700;
  padding-left: 15px;
}
.content12-title h2:hover{
  text-decoration: underline;
}
.content12-title::after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  margin-top: 10px;
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
}
.content12-title.active::after{
  content: "\f077";
}
.content12-slide{
  text-align: left;
  padding-top: 20px;
}
.content12-slide h3{
  font-weight: 700;
  padding-bottom: 5px;
}
.content12-slide p{
  letter-spacing: 0;
}

/* コンテンツ13 */

.content-13{
  background-image: url("img/bangkokbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}
.content13-wrapper{
  padding: 100px;
  color: #fff;
}
.content13-wrapper h1,li,h2{
  font-weight: 700;
}
.content13-wrapper h1{
  padding-bottom: 22px;
}
.content13-wrapper p{
  margin-bottom: 25px;
}
.content13-wrapper ul{
  margin-left: 18px;
}
.content13-wrapper li{
  margin-bottom: 10px;
}
.content13-wrapper h2{
  margin-top: 10px;
}

/* コンテンツ14 */

.content-14{
  background-color: #F7C23C;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.content-14 h1{
  font-weight: 700;
  margin-bottom: 50px;
} 
.content-14 p{
  font-weight: 700;
  margin-bottom: 140px;
}
.content-14 span{
  color: #fff;
}
.content14-wrapper{
  border: 2px solid #FFF;
  padding: 50px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.content14-wrapper::before{
  position: absolute;
  content:"iSaraは『実質０円』！更なる特典もあります。";
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: 700;
  max-width: 545px;
  height: 89px;
  background-color: #F7C23C;
  z-index: 9;
  top: -70px;
}
.content14-box{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #FFF;
  margin: 10px auto;
  padding: 15px;
}
.content14-box h1{
  color: #EBB94D;
  font-weight: 100;
  padding-top: 40px;
  margin: 0;
  margin-bottom: 20px;
}
.content14res-message{
  display: none;
}
.content14res-wrapper{
  display: none;

}
.content14res-box{
  display: flex;
  margin-bottom: 20px;
}
.content14-left{
  width: 20%;
  display: block;
}
.content14-left h1{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 12px;
  color: #EBB94D;
  font-weight: 700;
}
.content14-right{
  width: 80%;
  display: flex;
  align-items: center;
}
.content14-right p{
  font-size: 12px;
  margin: 0;
  color: #fff;
}

/* コンテンツ15 */

.content-15{
  background-image: url("img/specialdetail.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 85px;
}
.content15-top{
  margin-bottom: 45px;
}
.content15-top h1{
  margin-bottom: 30px;
  font-weight: 700;
}
.content15-top h2{
  line-height: 30px;
}
.content15-center{
  margin-bottom: 20px;
}
.content15-center h1{
  max-width: 860px;
  height: 70px;
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content15-center h1::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 50px;
  height: 50px;
}
.content15-center h1::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  width: 50px;
  height: 50px;
}
.content15res-center h1{
  max-width: 860px;
  height: 70px;
  font-weight: 700;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content15res-center h1::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  width: 50px;
  height: 50px;
}
.content15res-center h1::after{
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  width: 50px;
  height: 50px;
}
.content15-bottom h2{
  line-height: 30px;
}
.content15-messageres{
  display: none;
}

/* コンテンツ16 */

.content-16{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 90px;
}
.content16-top h1{
  margin-bottom: 50px;
  font-weight: 700;
}
.content16-top h2{
  font-weight: 700;
}
.content16-wrapper{
  max-width: 880px;
  font-size: 14px;
}
.content-16 img{
  margin-top: 50px;
}
.content16-left{
text-align: left;  
margin-top: 50px;
}
.content16-left ul{
  position: relative;
  left: -30px;
  margin: 30px 0;
}
.content16-left li{
  font-weight: 100;
}
.content16-messageres{
  display: none;
}

/* フォーム */

#form{
  background-color: #EBB94D;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
#form form{
  padding: 0 20%;
}
.form-title h1{
  font-weight: 700;
  margin-bottom: 30px;
}
.form-title p{
  font-weight: 700;
  margin-bottom: 40px;
}
.form-input{
  width: 100%;
  padding: 10px;
  height: 55px;
  border-radius: 5px;
  border: none;
  margin-bottom: 25px;
}
.form-textarea{
  width: 100%;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  border: none;
  margin-top: 25px;
  margin-bottom: 45px;
}
.form-submit{
  width: 100%;
  height: 55px;
  background-color: #DA6B64;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 20px;
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 30px;
  margin: 0;
}
.form-group{
  box-shadow: none;
  margin-bottom: 25px;
}

/* コンテンツ17 */

.content-17{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 55px;
}
.content17-top h1{
  padding-bottom: 45px;
  font-weight: 700;
  margin: 0;
}
.content17-wrapper{
  width: 80%;
  margin: 5px auto;
}
.content17-title{
  border: 1px solid #e5e5e5;
  padding: 19px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.content17-title:hover{
  text-decoration: underline;
}
.content17-title::after{
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  color: #e5e5e5;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 13px;
  text-decoration: none;
}
.content12-title.active::after{
  content: "\f106";
}
.content17-title h1{
  font-weight: 700;
  margin: 0;
}
.content17-title i{
  color: #1B95E0;
  font-size: 18px;
}
.content17-slide{
  padding: 20px;
  text-align: left;
  font-weight: 700;
}

/* フッター */
footer{
  background-color: #ECECEC;
  text-align: center;
  font-size: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}
footer p{
  margin: 0;
}
.footer-copyright{
  margin-bottom: 15px;
}